* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  list-style: none;
}

body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;

  background-color: #222;
  color: #fff;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header #photo {
  width: 150px;

  border-radius: 50%;
  border: 2px solid grey;
}

header span {
  font-weight: 300;

  margin: 8px 0;
}

header #stack {
  width: 80%;

  font-weight: 300;

  margin-bottom: 8px;
}

header #stack strong {
  margin-bottom: 8px;

  font-size: 1.5rem;
}

header #stack ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  list-style: none;
}

#titleStack {
  font-weight: bold;
  text-align: center;
  padding: 1rem 0;
}

header #stack ul li {
  margin-right: 8px;
}

#social_networks_list {
  display: flex;
  flex-direction: column;
  align-items: center;

  list-style: none;

  margin-top: 40px;
}

.card {
  width: 90%;
  border: 2px solid #fff;

  margin-bottom: 16px;

  text-align: center;
  text-decoration: none;

  color: #fff;

  padding: 8px;

  cursor: pointer;

  transition: all 1.05s;
}

.card:hover {
  background-color: #3b3b3b;
}

.card a {
  width: 100%;
  height: 100%;
  text-decoration: none;

  color: #fff;
}

footer {
  position: absolute;
  bottom: 16px;
}

@media (min-width: 768px) {
  .card {
    width: 80%;
  }

  header #stack ul {
    grid-template-columns: repeat(6, 60px);
  }
  .content,
  footer {
    width: 500px;
    margin: 0 auto;
  }
  footer {
    text-align: center;

    margin-top: 40px;
  }
}
@media (min-width: 768px) {
  footer {
    margin-top: 110px;
  }
}
