* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
  height: 100vh;

  background-color: #222;
  color: #fff;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main {
  width: 80vw;
}

header button {
  background-color: #222;

  padding: 16px;
  border: 2px solid grey;

  cursor: pointer;
}

header button a {
  text-decoration: none;

  color: #fff;

  font-size: 20px;
  font-weight: 700;
}

.content h2 {
  margin: 16px;
}

#projects_list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  height: 60vh;

  overflow-y: scroll;
}

.card {
  width: 250px;

  border: 2px solid #fff;

  margin-bottom: 16px;
  margin-right: 8px;

  padding: 8px;

  cursor: pointer;

  transition: all 1.05s;
}

.card:hover {
  background-color: #3b3b3b;
}

.card a {
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #fff;

  padding: 8px;
  text-transform: uppercase;
}

footer {
  margin-top: 64px;
}

@media (min-width: 375px) {
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

@media (min-width: 768px) {
  .card {
    width: 90%;
  }
  .content,
  footer {
    margin: 0 auto;
  }
  footer {
    text-align: center;
  }
}
@media (min-width: 768px) {
  footer {
    margin-top: 80px;
  }
}
